<?php
return array(
	'commandMap' => array(
		'migrate' => array(
			'interactive' => false,
		),
	),
	'params' => array(
		'composer.callbacks' => array(
			'pre-update' => array(),
			'pre-install' => array(),
		),
	),
);
