.center {text-align:center!important;}
#toggle-seo-box {display: none;}
.file-input-block-image {display: block;padding-top: 10px;}
.file-input-block-link {display: block;padding-top: 10px;}
.container {min-width: 99% !important;}
